
  <div th:fragment="footer">
<!--      &copy;  Footer-->
         <script th:src="@{/css/js/jquery.min.js}">
   </script>
             <script th:src="@{/css/js/jquery.validation.min.js}">
   </script>
      <script th:src="@{/css/js/bootstrap.min.js}"></script>
   <script th:src="@{/css/js/toastr.min.js}">
   </script>
          <script th:src="@{/css/js/select2.min.js}">
   </script>
      <script>
          $(()=>{
              $(".select2").select2();
              $('.select2').on('select2:select', function (e) {
                let type=$(this).attr("data-type");
               let data =$(this).val();
               window.location.href="[[@{/getallstudents}]]"+"?type="+type+"&data="+data;
                });
          });
      </script>
    </div>
</body>
</html>